@media(max-width: 1200px) {
  .form-input,
  .form-textaria {
    width: 100%;
  }

  .header__container {
    flex-wrap: wrap;
    padding: 0;
    padding-top: 33px;
    padding-right: 100px;
    padding-left: 100px;
   }

   .header__logo {
    order: 1;
    padding-bottom: 33px;
    width: 112px;
   }

   .header-nav {
    order: 3;
    padding: 22px 100px;
    border: 1px solid #E6E8EC;
   }

   .header__list {
    margin: 0;
   }
   .nav__item:not(:last-child) {
    margin-right: 106px;
  }

   .header__btn {
    order: 2;
    padding-bottom: 33px;
   }
   .hero__left {

   }

  .footer__svg {
    max-width: 100%;
  }
}
